@import "bootstrap/bootstrap";

.panel.navlist  {
  height: 100%;
}

.navcomponent {
  padding: 10px;
}

* { 
  box-sizing: border-box;
}


.container {
  //display: flex;
  margin: 0 auto;
  max-width: 1170px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.card {
  flex-direction: column;
}

.card button {
  margin-top: auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}


.d-flex > div[class^="col"] {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.d-flex > div[class^="col"] > div {
  justify-content: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}